*{
    text-decoration: none;
    color: black;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

@font-face{
    font-family: droidSerifBold;
    src: url(droid-serif/DroidSerif-Bold.ttf)
}
 
@font-face{
    font-family: droidSerifBoldItalic;
    src: url(droid-serif/DroidSerif-BoldItalic.ttf)
}

@font-face{
    font-family: droidSerifItalic;
    src: url(droid-serif/DroidSerif-BoldItalic.ttf)
}

@font-face{
    font-family: droidSerif;
    src: url(droid-serif/DroidSerif.ttf)
}

/*OPEN SANS*/
/*// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800*/

/*.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}*/

/*CLASES ÚTILES*/

.w100{
    width:100%;
}


.w78{
    width: 78%;
}

.w32{
    width: 32%;
}


.spaceb{
    justify-content: space-between;
}

.df{
    display: flex;
}

.secciones{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 3px solid purple;  
}

.chicos{ /*textos chiquitos de colores*/
    font-family: "Open Sans";
    font-size: 0.6em;
    flex-direction: row;
    text-transform: uppercase;
}

.titulos{
    font-family: droidSerif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.subtitulos{
    font-family: droidSerif;
    font-size: 1em;
    font-weight: lighter;
}

/*FIN CLASES ÚTILES*/


/*HEADER*/
header{
    border: 3px solid blue;
    background-color: white;
    display: flex;
    height: 12%;
    
}

.logoTexto{
    border: 3px solid orangered;
    display: flex;
    width: 35%;
}

#logo{
    border: 3px solid red;
    font-family: droidSerif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
}

#floriaHeader{
    border: 3px solid rgb(67, 11, 11);
    font-family: droidSerif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
}

nav{
    border: 3px solid orange;
    width: 65%;
    display: flex;  
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    border: 3px solid yellow;
    width: 50%;
    margin-right: 15%; 
    font-family: "Open Sans" , sans-serif;
    font-size: 0.8em;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;     
}

/*FIN HEADER*/ 


.eslider{
    border: 3px solid green;
    width: 100%;
    height: auto;
}

.trios{
    border: 3px solid orange;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 66em;   
}

.tercio{
    border: 3px solid pink;
    height: 40%;
}

.imgTercio {
    border: 3px solid red;
}

/*textos chicos de colores*/ 

.mobile{
    color: #9fbf73;
}

.branding{
    color: #e7759c;
}

.website{
    color: #e9aa70;
}


/*BOTONES*/

.botones {
    border: 3px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.botonesHomeNaranja {
    background-color: orange;
    border: none; 
    padding: 14px;
    margin-right: 0.6em;
}

.botonesHomeNaranja a {
    color: white;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 1em;

}

.botonesHomeWhite{
    background-color: white;
    border: 0.01em solid grey; 
    padding: 14px;
    margin-left: 0.6em;
}

.botonesHomeWhite a{
    color: black;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 1em;
}


.cifras{
    border: 2px solid lightblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
}





/*SECTION "MUST HAVE"*/
.stylish{
    color: #888888;
}